.css-13cymwt-control {
    width: 344px;
    height: 60px;
    background: #F3F6F7;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}


.css-t3ipsp-control {
    width: 344px;
    height: 60px;
    background: #F3F6F7;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}